<h1><a href="{{ paths.root }}">{{ app.config.general.sitename }}</a></h1>
<h2>Newsletter subscription confirmation notice</h2>

<hr/>

<p>Hi, {{ data.email }}.</p>
<p>Your subscription to our newsletter has been confirmed.</p>

<p>If you ever want to unsubscribe, click the following link: </p>
<p>{{ data.unsubscribe_link}}</p>

<hr/>

