<h1><a href="{{ paths.root }}">{{ app.config.general.sitename }}</a></h1>
<h2>We have a new subscriber to our newsletter ({{ data.confirmed == 1 ? 'confirmed' : 'unconfirmed' }})</h2>

<hr/>

<p><b>email:</b> {{ data.email }}</p>

<hr/>

