<h1><a href="{{ paths.root }}">{{ app.config.general.sitename }}</a></h1>
<h2>Newsletter unsubscription notice</h2>

<hr/>

<p>Hi, {{ data.email }}.</p>
<p>Your subscription to our newsletter has been removed.</p>

<hr/>

